 
.contain {
	max-width: 1200px;
	margin: 0px auto;
}

// Titles
.main-title {
	font-size: $xlarge;
}
.sub-title {
	font-size: $medium;
}

.cta {
	@include button-variant(#fff, transparent, #fff);
	border: 1px solid #fff;
	padding: 6px 18px;
	&:hover {text-decoration: none}
}
