.hero-full {
	@include background-full;

	.titles {
		@include vertical-align;
		text-align: center;
		color: $font-light;
	}
}


.hero-col3 {
	.col-sm-4 {
		padding: 0px;
	}
	.tile {
		@include background-cover;
		.titles {
			@include vertical-align;
			text-align: center;
			color: $font-light;
		}
	}
}